<div id="<%= dom_id youtube_clip %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= youtube_clip.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Video:</strong>
    <%= youtube_clip.video_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= youtube_clip.description %>
  </p>
</div>
